/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port

# Compiled clojurescript
resources/public/js/

# npm
npm-debug.log
node_modules

# Bower Dependancies
/resources/public/vendor

/.env

# Demo build
/demo

# Node-Webkit
/webkitbuilds
/cache
/build
/nw-build
/releases

# Generated
bower.json
.bowerrc
